h1   {
    color: rgb(247, 247, 253); text-align: center 
 }

#app {
    background: linear-gradient(#4b4949, #ffffff);
    height: 100vh;  
    outline-style: solid;
}

p {
    color: #ffffff; text-align: center
}

.list {
    color: rgb(66, 15, 167);
    font-size: 32px;
}



.list > li:nth-child(even) {
    color: rgb(141, 8, 24);
    font-weight: 800;
}

@media only screen and (max-width: 800px) {
    .list > li:nth-child(even) {
        color: rgb(72, 140, 191);
        font-weight: 800;
    }
}